### Video Lessons
[Numbers and Operations with Numbers (22 min)](https://drive.google.com/file/d/1r7rqrCyEN-s5CNH_PyCfap4QLbzwR2I9/view?usp=sharing)  

[Indexing (17 min)](https://drive.google.com/file/d/135NpBXE0HDBLT3afVIkvXkdwH3VhZvE5/view?usp=sharing)  

[Slicing and Stepping (5 min)](https://drive.google.com/file/d/1xXdjqp_5sDqn6VmJgsC9ViVeT_ck7LY-/view?usp=sharing)    

[Finding, Splitting, and Concatenating with Strings (9 min)](https://drive.google.com/file/d/1kElM9JqzC5DDNMFvZ91Svz1w1g4q2Cn6/view?usp=sharing)  

[Booleans and Comparisons (11 min)](https://drive.google.com/file/d/12dhVW0cU1kJAOtTmB5MdxLQIiHI3bOCs/view?usp=sharing)  

[Variables and Assignment (4 min)](https://drive.google.com/file/d/1gGI2TNa6QISHbKXFvzbTqKzQG2lNL4D3/view?usp=sharing)

#### Objectives:

-  gain confidence writing python in the console
-  be able to write and run a scripts using code and comments
-  distinguish among the types of values in python
-  perform operations with numbers and strings
-  perform operations with booleans - relational and logical comparisons
-  build skills in solving more complex problems that combine values and operation
-  become familiar with some resources to use while you are learning
-  learn some debugging skills

### References
* [W3Schools Python](https://www.w3schools.com/python/)
* [Python Basic Operators (Geeks for Geeks)](https://www.geeksforgeeks.org/python-operators/)
* [Stack Overflow](https://stackoverflow.com/)

### 1.1.0 Intro to Variable Assignment (=)

In the code block below, we are defining a variable and giving it a value, a=3.

In [1]:
a=3

To check the value associated with a, we can type 'a' into a new code block and run it.

In [2]:
a
# this is a comment

3

We can also look at the value of 'a' by using the print() function.  Notice the (), this is a key way to recognize a function in Python.

In [ ]:
print(a)

3

Here are some additional exercises.

NameError: name 'b' is not defined

Try typing 'b' into the next code block and notice the error.

In [4]:
b

NameError: name 'b' is not defined

Notice that the variable b is not defined.

We will learn that, in the Python language, variables are associated with data types.  To check a data type, we use a function called type().  Let's try this with the variable a.

In [5]:
type(a)

int

In [ ]:
type(b)

int

In [6]:
b=5

In [7]:
type(b)

int

### 1.1.1 Numbers and Operations with Numbers
In this section, we take a look at some of the more common types of numbers encountered in Python, namely, integers and floats.

#### Integers and Floats:

Type the following code in the code block and take a minute to notice what it is doing:

```
a=3
print(a)
print(type(a))
```
Then try:
```
b=3.14
print(b)
print(type(b))
```

In [10]:
a=3
print(a)
print(type(a))

3
<class 'int'>

In [11]:
b=3.14
print(b)
print(type(b))

3.14
<class 'float'>

In [12]:
print(a)
print(b)

3
3.14

An integer, 3, is a whole number.

A float, 3.14, has both an integer and a rational component.

### Operations with Numbers
The following symbols can all be used to perform operations in python:
```
+   -   *   /   //   %
```
Take a little time to experiment with these operations using both integers and floats and try to understand what each operation does.

In [23]:
x=6
y=4.5

# print('x+y=', x+y)
# print('x-y=', x-y)
# print('x*y=', x*y)
# print('x/y=', x/y)
# print('x//y=', x//y)
# print('x%y=', x%y)

2

|Operator|Description|Example|
|---|---|---|
|+|Addition|x+y|
|-|Subtraction|x-y|
|*|Multiplication|x*y|
|/|Division|x/y|
|//|Integer Division|x//y|
|%|Modulus Operator|x%y|

The modulus operator returns the remainder when the first operand is diivided by the second.  What is the modulus operator useful for?

Try typing the following in the code block:
```
x=264%4
print(x)
print(type(x))
```
Then try:
```
y=1054%4
print(y)
print(type(y))
```

In [27]:
x=264%4 # using the modulus operator
print(x)
print(type(x))

0
<class 'int'>

In [28]:
y=1054%4
print(y)
print(type(y))

2
<class 'int'>

Checking to see whether the remainder is 0 is a good way of checking if one number is an integer multiple of the other number.  The example above shows that 264 is an integer multible of 4, but 1054 is not an integer multiple of 4.

### 1.1.2  Strings and Operations with Strings
In python, strings can be defined using either single or double quotes.
```
w='we are learning python'
w="we are learning python"
```

In [1]:
s='string'
type(s)

str

In [ ]:
w='we are learning python'
print(w)

we are learning python

In [ ]:
w="we are learning python"
print(w)

we are learning python

#### Indexing Strings
Each character in a string is associated with an index.  Imagine each character in the string lives in a box and that box has a number 0,1,2.  Those numbers are the indices used to identify the characters in the string.

|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|w|e| |a|r|e| |l|e|a|r|n|i|n|g| |p|y|t|h|o|n|

We can then ask python questions like: "what character is in box 0".  In Python syntax, this looks like:

```
w[0] <--- the first character in the string
```

```
w[21] <--- the last character in the string
```

In [2]:
w="we are learning python"
print(w[0])

w

In [3]:
w="we are learning python"
print(w[21])

n

What happens if we try to access an index that is beyond the last character in the string?  Try
```
w[22]
```

In [4]:
w="we are learning python"
print(w[22])

IndexError: string index out of range

There are other ways to access the last character in the string that can avoid the error.  Start by finding the length of the string with,
```
len(w)
```
Then find the character in string w at index ```[len(w)-1]```.
```
w[len(w)-1]
```

In [8]:
w="we are learning python"
print(w[len(w)-1])

n

In [6]:
len(w)

22

Another good way to find the last character in a string is to use the ```[-1]``` index.
```
w[-1]
```

In [9]:
w="we are learning python"
print(w[-1])

n

In [10]:
w[-3]

'h'

Notice that if we try to apply these same methods to numbers, we run into errors. Indexing is an operation that works with strings but not with numbers.  Try:
```
len(435)
```

In [12]:
len(435)

TypeError: object of type 'int' has no len()

#### Exercise
Do a web search to see if you can figure out how to change a number to a string and a string into a number in python. This will come in handy over and over again.

In [33]:
# Change int into str
w = 4
str(w)

print(w, type(w))

4 <class 'int'>

In [34]:
# Change str into int
w = '4'
int(w)

print(w, type(w))

4 <class 'str'>

Make a note of where you found the answer.  Many may have looked at www.stackoverflow.com.  This site will be your friend in the future.

#### Challenge Problem
Write a program to add up the digits in the number 435 using indexing.

In [38]:
n=435
# your code
result = int(str(n)[0]) + int(str(n)[1])  + int(str(n)[2])
print(result, type(result))

12 <class 'int'>

In the next lesson, we will learn more efficient techniques to help with this.

### 1.1.3 Slicing and Stepping
Slicing is an operation used to select a portion of a string using the following format.
```
string[start:end]
```
For example:
```
s[1:-1]
```
takes the portion of the string that excudes the first and last character.  
```
s[1:]
```
yields the portion of the string that excludes the first character, but includes everything else.
```
s[:-1]
```
includes everything in the string except for the last character.

In [39]:
s='abcdefghij'
s[1:-1]

'bcdefghi'

In [40]:
s='abcdefghij'
s[1:]

'bcdefghij'

In [44]:
s='abcdefghij'
s[:-1]

'abcdefghi'

#### Exercise
Try slicing all characters from the string ```s='abcdefghij'``` except for the last three.

In [42]:
s='abcdefghij'
# your code
s[:-3]

'abcdefg'

### Exercise
Try slicing all characters from the string ```s='abcdefghij'``` except for the first four.

In [43]:
s='abcdefghij'
# your code
s[4:]

'efghij'

#### Stepping
Stepping can be used to slice a string into consistent pieces by indicating a start, end, and a step.  Where the step tells how many characters to skip at each step.
```
string[start:end:step]
```
For example:
```
s[0:-1:2]
```
Would return every other character and exclude the last character.

In [52]:
s='abcdefghij'
# your code
# s[0::2]
# s[0:-1:2]
# s[::]
s[1:6:3]

'be'

### 1.1.4 Finding, Splitting, and Concatenating with Strings
Here we explore some additional common methods that can be applied to strings to manipulate them in different ways.

#### Using the find() function
The find function is a method that can be applied to a string in the form:
```
s.find('c')
```
The find method outputs the index of the first instance of the character 'c' in the string.

In [53]:
s='abcdefghij'
# your code
s.find('c')

2

What happens if the character we search for cannot be found in the string. Try:
```
s.find('z')
```
to see the result.

In [54]:
s='abcdefghij'
# your code
s.find('z')

-1

When you do this, the result is a -1 which is the way python communicates that the character 'z' does not exist in the string.

#### Splitting a String
We can separate a string into its elements using the split() method. The following use of the split method will split on each space:
```
w='we are learning python'
w.split(' ')
```
We can chosee the character that is used to split the string.  Here is another example to illustrate.
```
t='this.is.fun'
t.split('.')
```

In [55]:
w='we are learning python'
w.split(' ')

['we', 'are', 'learning', 'python']

In [56]:
t='this.is.fun'
t.split('.')

['this', 'is', 'fun']

Note the format of the output when we use the split method. It is a Python data type called a list.  We will become very familiar with lists in future lessons.

#### Concatenating a String
We can actually add strings together using the + operator.  We might try the following:
```
'we'+'are'+'learning'+'python'
```
The result would be:
```
'wearelearningpython'
```
So we could add in spaces between the words to make the sentence make sense:
```
'we'+' '+'are'+' '+'learning'+' '+'python'
```

In [57]:
'we'+'are'+'learning'+'python'

'wearelearningpython'

In [58]:
'we'+' '+'are'+' '+'learning'+' '+'python'

'we are learning python'

#### Exercise
If you're thinking that there should be an easier way to combine strings into one, you're right.  Try searching something like "connect strings in Python with a space".  See what you find.

In [60]:
r=['we','are','learning','python']
# connect the words to the result is: 'we are learning python'

r_joined = " ".join(r)
print(r_joined)

we are learning python

### 1.1.5 Booleans and Comparisons
Booleans are expressions of True or False.  These become useful when we need to write functions (reusable code) in the future.

Let's start by setting variable to equal True and False. Notice the capitalization.
```
t=True
f=False
```
Then check the data types for t and f:
```
type(t)
type(f)
```

In [61]:
t=True
f=False

print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

Note that the boolean values True and False are pre-defined, meaning they already exist in the Python language.

There is some not-so-obvious behavior worth knowing about relating to boolean values.  We can use the ```bool()``` function to check the Boolean value of an expression.  Try:
```
a=0
bool(a)
```
and
```
b=''
bool(b)
```

In [62]:
a=0
bool(a)

False

In [63]:
b=''
bool(b)

False

In short, any object with a 0 or 'Null' value has a boolean equivalent of False in Python.  

Any object that does have a value has a boolean value of True in Python.  For example:
```
c=9
bool(c)
```

In [66]:
c=9
bool(c)

True

In [ ]:
d='yes'
bool(d)

#### Comparisons
Booleans are often used in the context of comparisons.  There are two main types of comparisons, relational and logical.

#### Relational comparisons
A comparison operator in python, also called python relational operator, compares the values of two operands and returns True or False based on whether the condition is met  

|Syntax |Usage |Interpretation|
|--|--|--|
|==|x==y|True if x is equal to y|
|<|x<y|True if x is less than y|
|>|x>y|True if x is greater than y|
|<=|x<=y|True if x is less than or equal to y|
|>=|x>=y|True if x is greater than or equal to y|

In [72]:
# try it out
x=4
y=5
x==y

False

In [73]:
# try it out
x=4
y=5
x<y

True

In [74]:
# try it out
x=4
y=5
x>y

False

In [75]:
# try it out
x=4
y=5
x<=y

True

In [71]:
# try it out
x=4
y=5
x>=y

False

#### Logical Comparisons
Logical operators are typically used to evaluate whether two or more expressions are true or not true. For example, they can be used to determine if the grade is passing and that the student is registered in the course, and if both cases are true then the student will be assigned a grade in the system. Another example would be to determine whether a user is a valid active customer of an online shop based on whether they have store credit or have made a purchase in the past 6 months. [Source](https://www.digitalocean.com/community/tutorials/understanding-boolean-logic-in-python-3)

|Syntax|Usage|Interpretation|
|--|--|--|
|not|not x|True if x is False|
|and|x and y|True if both x and y are True|
|or|x or y|True if either x or y is True|

Let's try to get the hang of how this works with some exercises.

Set the following variables:
```
x=4
y=5
```

Try to predict whether the following will be True or False.

|comparison|Boolean value|
|--|--|
|x>2 and y>2|<input type="checkbox">True <input type="checkbox">False|
|x>2 and y<2|<input type="checkbox">True <input type="checkbox">False|
|x<2 and y<2|<input type="checkbox">True <input type="checkbox">False|
|x>2 or y>2|<input type="checkbox">True <input type="checkbox">False|
|x<2 or y>2|<input type="checkbox">True <input type="checkbox">False|
|x<2 or y<2|<input type="checkbox">True <input type="checkbox">False|  
|not(x>2 or y>2)|<input type="checkbox">True <input type="checkbox">False|

In [81]:
x=4
y=5
x>2 and y>2

True

In [77]:
x=4
y=5
x>2 and y<2

False

In [78]:
x=4
y=5
x<2 and y>2

False

In [79]:
x=4
y=5
x>2 or y>2

True

In [ ]:
x=4
y=5
x<2 or y>2

In [ ]:
x=4
y=5
x<2 and y<2

In [80]:
x=4
y=5
not(x>2 or y>2)

False

### 1.1.6 Variables and Assignment
Variables must be assigned before you can use them.  ```name=expression```.  Expressions (values) must be 'evaluable' that is, they must contain other expressions that are already defined in python.  

**Types of Assignment**
There are four main types of assignment in Python:

**Simple Assignment**
```
x=6
```

**Multiple Assignment**
```
x=y=5
```

**Unpacking Assignment**
```
x,y=2,4
```

**Augmented Assignment/Reassignment (x must already be assigned a value)**

```x+=2``` is equivalent to ```x=x+2```

Let's experiment with Augmented Assignment a bit

In [83]:
x=6
x+=2
x+=2
x+=2

Now, what is x?

In [84]:
x

12